*{margin:0; padding:0; font-family: "Microsoft YaHei";}
body{background-color: #fbecc5;}
.clear{ clear: both;}

.main{  max-width: 1000px; margin: 0 auto; background-color: #fff; border-radius:  -webkit-box-shadow:2px 2px 5px #ADADAD; box-shadow:2px 2px 5px #ADADAD;-moz-box-shadow:2px 2px 5px #ADADAD; padding: 10px 10px 0 10px;}
.main>.header{ background-color: #cc6611; padding: 30px 0 30px 30px; }
.main>.header span.title{    font-size: 60px; color: white; font-weight: normal; cursor: pointer;}
.main>.title{ font-size: 32px; font-weight: bold;  margin-top: 20px;  margin-bottom: 20px;}
.main>.content{ margin: 0 auto;}

.main>.time{ text-align: right; margin: 0 auto; color: gray; font-size: 12px;}
.main>.foot{  margin-top: 50px; padding-bottom: 20px;}
.main>.foot h1{font-size: 26px;}